RewriteEngine On

FallbackResource /crash/router.php

<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|env)$">
Order Allow,Deny
Deny from all
</FilesMatch>

<FilesMatch "\.(css)$">
ForceType 'text/css'
</FilesMatch>
