/* Global rules */
:root{
    --background: #54494B;
    --text: #F7F7F7;
    --accent: #FF3464;/*red*/
    --accent2: #42EBC3;/*green*/
    --accent3: #B2FFFF; /*blue*/
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--background);
    color: var(--text);
}
body *{
    margin: 0;
}
p{
    text-align: justify;
}
a{
  text-decoration: none;
  color: var(--text);
}
/* Form styling */
textarea{
  background: var(--background);
  border: 1px solid var(--accent3);
  color: var(--text);
  font-family: 'IBM Plex Mono';
}
button{
  background: none;  
  border: none;
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;
  font-size: initial;
}
input{
    background: transparent;
    border: none;
    color: var(--text);
    font-family: inherit;
}
input:focus-visible{
    outline: none;
}
#editor{
  display: hidden;
}
/* table styling */
td:nth-child(2), td:nth-child(3){
  text-align: center;
}
th{
  text-align: center;
}
th:nth-child(2), th:nth-child(3){
  padding-left: .5rem;
  padding-right: .5rem;
}
td{
  padding-left: .5rem;
 padding-right: .5rem;
}
/* marks, coloured emphasis text */
mark{
    background: transparent !important;
}
mark.danger{
  color: var(--accent) !important;
}
mark.info{
  color: var(--accent3) !important;
}
mark.success{
  color: var(--accent2) !important;
}
/* globally used ul custom bullet style */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 1.75em;
  align-items: start;
  line-height: 1.25;
}
ul li::before {
  content: attr(data-icon);
  /* Make slightly larger than the li font-size
  but smaller than the li gap */
  font-size: 1.25em;
  color: var(--accent2);
}
/* columns */
.columns{
  display:flex;
}
.column{
  width: 100%;
  padding: .5rem;
}
.column.is-1-4{
  width: 25%; 
}

/* Various containers */
.inline{
  display: flex;
}
.avatar{
  width: 100%;
  border-radius: 100%;
}
.window{
    border: .5rem solid var(--accent);
    border-top: 2rem solid var(--accent);
    height: fit-content;
    margin: .5rem;
    background: var(--background);
}
.window .title{
    margin-top: -2rem !important;
}

.search-box{
    border: solid var(--accent);
    padding: 0.5rem;
    width: fit-content;
}
.search-box{
    border: solid var(--accent);
    padding: 0.5rem;
    width: fit-content;
}
.container{
  display: flex;
  padding: 1rem;
}
.container .window{
  margin: .5rem;
}
.container aside{
  position: sticky;
  top: 0;
}
.container aside *{
  margin:.5rem;
}
.content{
  padding: .5rem;
}
.content h3{
  font-size: 2.5rem;
}
.content.big *{
  font-size: calc(20% + 1rem);
}
/* modal container */
.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	background: #000000cf;
}
.modal .window{
	align-self: center;
	margin-left: auto;
	margin-right: auto;
  min-width: 20%;
}
.modal button{
  float: right;
}
.modal p{
  text-align: center;
}
.modal button *{
  color: var(--text);
  font-size: large;
}
/* post section */
.post{
  padding: .5rem;
  display: flex;
}
.post *{
  padding: 1rem;
}
.post img{
  max-width: 20%;
  height: fit-content;
}

/* Navbar section */
nav.container{
    display: inline-block;
}
nav.navbar .container,.logo{
    margin-left: 3rem;
}
nav.navbar {
    display: flex;
    align-items: center;
}
nav.navbar ul{
    list-style: none;
    display: inline-flex;
    padding: .75rem;
}
nav.navbar li{
    margin-left: 3rem;
}
nav.navbar a{
    color: var(--text);
}
nav.navbar a.is-active{
    text-decoration: underline;
}
/* Logo settings */
.logo{
    width: fit-content;
    color: var(--accent);
}
.logo h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    margin: 0;
}
.logo h2{
    font-family: 'Noto Sans JP', sans-serif;
    float: right;
    margin: 0;
}

/* CK Editor 5 styling */
:root{
  --ck-color-base-foreground: var(--accent) !important;
  --ck-color-base-background: var(--background) !important;
  --ck-color-base-border: var(--accent) !important;
  --ck-color-base-text: var(--text) !important;
  --ck-color-button-default-hover-background: var(--accent2) !important;
  --ck-color-button-on-hover-background: var(--accent2) !important;
  --ck-color-tooltip-background: var(--accent) !important;
  --ck-color-tooltip-text: var(--ck-color-base-text) !important;
  --ck-color-image-caption-background: var(--accent) !important;
}

